{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} : Bienvenue ! {% endblock %}


{% block body %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>FRONT END</h1>
        <a href="{{ path('backend_home') }}">Administration</a>
      </div>
    </div>
  </div>


    
{% endblock %}