{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} : Bienvenue ! {% endblock %}


{% block body %}

  <h1>FRONT END</h1>

  <a href="{{ path('backend_home') }}">Administration</a>
    
{% endblock %}