{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} : Administration {% endblock %}


{% block body %}

  <h1>BACK END</h1>

  <a href="{{ path('frontend_home') }}">Retour à l'accueil</a>
    
{% endblock %}